.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  object-fit: contain;
  height: 140px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__user {
  padding-left: 10px;
  font-weight: 500;
}
